<footer class="page-footer font-small purple darken-3">
  <!-- Footer Links -->
  <div class="container">
    <!-- logo -->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5 pb-4">
        <a href="#">
          <img src="\assets\logo.png" class="img-fluid" alt="" style="width:100px;">
        </a>
      </div>
    </div>

    <hr class="rgba-white-light" style="margin: 0 15%;">
    <!-- links -->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <!-- links-set -->
      <div class="d-md-flex d-coloum">
        <!-- 1 -->
        <h6 class="text-uppercase font-weight-bold col-md-3 mb-3">
          <a class="links" href="#home">Home</a>
        </h6>
        <!-- 2 -->
        <h6 class="text-uppercase font-weight-bold col-md-3 mb-3">
          <a class="links" href="#about">About</a>
        </h6>
        <!-- 3 -->
        <h6 class="text-uppercase font-weight-bold col-md-3 mb-3">
          <a class="links" href="#products">Products</a>
        </h6>
        <!-- 4 -->
        <h6 class="text-uppercase font-weight-bold col-md-3 mb-3">
          <a class="links" href="#contact">Contact</a>
        </h6>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">
    © 2023 Copyright:
    <a href="https://mdbootstrap.com/">XYZ</a>
  </div>
  <!-- Copyright -->
</footer>