.result25-5wssectionNSW-main21 h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.33em;
    color: #29303b;
    text-shadow: 1px 2px 2px #c8c7c7;
}

.result25-5wssectionNSW-main21 p {
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    font-weight: 600;
}

.xz340show-resultWQ5-5hnSection25 {
    background-color: #0a0425d9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.xz340show-resultWQ5-5hnSection25 h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.33em;
    color: #ffffff;
}

.xz340show-resultWQ5-5hnSection25 p {
    font-size: 16px;
    line-height: 1.43;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
}

.p-W233-WprogressBar h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.33em;
    color: #29303b;
    text-align: center;
}

.p-W233-WprogressBar span {
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    font-weight: 600;
    text-align: center;
}

.preview02-summary24-Quiz1wg5-section240 .open-summary24 a {
    font-size: 16px;
    line-height: 1.43;
    color: #007bff;
    font-weight: 600;
    text-align: center;
}

.preview02-summary24-Quiz1wg5-section240 .md-accordion .card .card-header a>h5 {
    font-size: 14px;
}

.preview02-summary24-Quiz1wg5-section240 .preview02-summary24-itemBody-31 .preview02-summary24-item31QW35 .preview02-summary24-item-link21A4 {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    color: #007bff;
    margin-bottom: 5px;
    list-style-type: square;
}

.preview02-summary24-Quiz1wg5-section240 .preview02-summary24-itemBody-31 .preview02-summary24-item31QW35 .preview02-summary24-item-link21A4>span {
    font-size: 14px;
    color: #29303b;
    font-weight: 600;
    margin-left: 10px;
}

.preview02-summary24-Quiz1wg5-section240 .preview02-summary24-itemBody-31 .preview02-summary24-item31QW35 .preview02-summary24-item-link21A4>span>.fa-check {
    color: #008000;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.preview02-summary24-Quiz1wg5-section240 .preview02-summary24-itemBody-31 .preview02-summary24-item31QW35 .preview02-summary24-item-link21A4>span>.fa-times {
    color: #e53232;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: text-bottom;
}