<section class="position-relative">
  <div class="container-fluid px-0">
    <mdb-card style="background-image: url('./assets/back2.png'); height: 750px;" class="rounded-0 sleep-bk">
      <div class="row  p-5 mx-5 align-items-start">
        <div class="col-6 order-2">
          <div class="my-5 pt-5">
            <h3>Astral</h3>
            <h6 class="mb-3">Astral 100 | Astral 150</h6>
            <h6>
              ResMed Astral™
              100 and Astral 150 provide personalized
              care every step of the way. With both invasive and non-
              invasive options, they offer a lightweight design, exceptional
              battery life and adaptive technologies to provide greater
              mobility and peace of mind.
            </h6>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon far icon="star" class="blue-text"></mdb-icon>
            <h1 class="mt-2">$986.99</h1>
            <div class="pt-1">
              <select class="browser-default custom-select mb-4">
                <option selected>Quantity</option>
                <option value="1">Qty 1</option>
                <option value="2">Qty 2</option>
              </select>
              <button mdbBtn type="button" color="primary"  [outline]="true" mdbWavesEffect><mdb-icon fas icon="shopping-cart" class="mr-1"></mdb-icon>ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="col-6 order-1">
          <div class="pt-5 mt-5 mr-5 pr-5 ">
            <img src="./assets/des1.png" alt="" class="z-depth-2">
          </div>
        </div>
      </div>
    </mdb-card>
  </div>
</section>

<section>
  <div class="container-fluid mdb-color lighten-1 ">
    <div class="row p-5">
      <div class="container">
        <h1 class="text-center text-white mt-3">Product Highlights</h1>
        <div class="d-flex justify-content-center pt-5">
          <ul class="list-group list-group-flush col-6 px-5">
            <li class="mb-4 text-white">
              At only 7 lbs, Astral is lighter than the market-leading
              life support ventilator </li>
            <li class="mb-4 text-white">
              User-friendly menu and touch-screen big button
              features make it easy to operate</li>
          </ul>
          <ul class="list-group list-group-flush col-6 px-5">
            <li class="mb-4 text-white">
              Quickly switch between mouthpiece or mask
              ventilation without changing adapters. Switch
              programs with just a few buttons.</li>
            <li class="mb-4 text-white">
              Alarms notify caregivers and healthcare providers
              when a potential issue arises</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container p-5">
    <h1 class="text-center mt-5">Comparing the Astral 100 and Astral 150</h1>
    <h6 class="text-center mt-3">Two options to meet your changing needs:</h6>
    <div class="row p-4 m-5 justify-content-space-between">
      <div class="col-6 text-center pr-5">
        <p class="font-weight-bold">Simplicity and ease</p>
        <h5 class="font-weight-bold my-3">Astral 100</h5>
        <p class="font-weight-bold">A lightweight and portable life-support ventilator that provides both invasive and
          non-invasive options.</p>
      </div>
      <div class="col-6 text-center pl-5">
        <p class="font-weight-bold">Simplicity and ease</p>
        <h5 class="font-weight-bold my-3">Astral 100</h5>
        <p class="font-weight-bold">A lightweight and portable life-support ventilator that provides both invasive and
          non-invasive options.</p>
      </div>
    </div>
  </div>
</section>

<section class="position-relative">
  <div class="container-fluid px-0">
    <mdb-card style="background-image: url('./assets/ban4.png'); height: 600px;" class="rounded-0 sleep-bk">
      <div class="row  p-5 mx-5 align-items-center">
        <div class="col-7 order-2">
          <div class="my-5 pt-5">
            <h5 class="mb-3">Protection on the go</h5>
            <br>
            <h2>Mobility and slim fit bag</h2>
            <br>
            <h4>
              <ul class="list-group list-group-flush">
                <li class="mb-4">
                  Quickly switch between mouthpiece or mask
                  ventilation without changing adapters. Switch
                  programs with just a few buttons.</li>
                <hr class="rgba-white-light  my-0" style="margin: 10%;">
                <li class="mb-4 mt-4">
                  Alarms notify caregivers and healthcare providers
                  when a potential issue arises</li>
              </ul>
            </h4>
          </div>
        </div>
        <div class="col-5">
          <div class="pt-5 mt-5">
            <img src="./assets/des2.png" alt="" class="z-depth-2">
          </div>
        </div>
      </div>
    </mdb-card>
  </div>
</section>