/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// https://img.freepik.com/free-photo/abstract-pink-watercolor-textured-phone-background_53876-147948.jpg?w=740&t=st=1679988321~exp=1679988921~hmac=162e30f0844cf49ae1d0ff3aa91576f5ba7c874b2c94886611d561af5bf03bb7

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
}
.navbar-toggler-icon {
    // background-color: #cf62bb;
    border-radius: 3px;
    background: #ff56bb;
    font-size: 18px;
    padding: 5px;
}

.navbar {
    box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
    font-weight: 300;
    // background: #ff56bb;
    background: white;
    position: relative;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .navbar {
        margin-top: -20px;
        padding: 15px 15px 0;
    }
    .navbar.navbar-dark .navbar-toggler {
        color: #fff;
        position: relative;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        margin-top: -20px;
        padding: 15px 15px 0;
    }
    .navbar.navbar-dark .navbar-toggler {
        color: #fff;
        position: relative;
    }
}
// -------------------------------------------
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        height: 80px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .navbar {
        height: 80px;
    }
}



.preview02-summary24-Quiz1wg5-section240 .md-accordion .card .card-header {
    background-color: #c5cae9;
  }
  
  .preview02-summary24-Quiz1wg5-section240 .md-accordion .card .card-header a>h5 {
    font-size: 14px;
    font-weight: 600;
    color: #29303b;
    padding: 0;
  }
  
  .preview02-summary24-Quiz1wg5-section240 .md-accordion .card .card-header a>h5>.mdb-accordion-indicator.rotate-icon {
    top: 20px;
  }
  
  .preview02-summary24-Quiz1wg5-section240 .md-accordion .card .card-header a>h5>span>.questionMAS2-title2A {
    font-size: 16px;
    color: #e53232;
    font-weight: 600;
    padding-right: 10px;
  }
  
  .preview02-summary24-Quiz1wg5-section240 .accordion .card .card-body {
    padding: .5rem 1.5rem !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }


.main-YZ5card54-headerTYS {
    background: #ffffff;
    height: 55px;
    margin: 56px 0 0 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    width: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    // border-top: 1px solid #eee;
  }

  .card-headerNav-navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row;
    height: 60px;
    flex-wrap: wrap;
    align-items: center;
  }
  .card-headerNav-nav-item .card-headerNav-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #505763;
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
    white-space: nowrap;
    transition: .35s;
  }
  
  .card-headerNav-nav-item .card-headerNav-nav-item-title446546YXS h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 1em 0 0;
    padding: 0;
  }

  .card-headerNavRight-navbar {
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row;
    height: 55px;
    flex-wrap: wrap;
    align-items: center;
  }

  .title245ses3665-edkfnnnj h2 {
    font-size: 18px;
    font-weight: 700 !important;
  }
  
  .title245ses3665-edkfnnnj p {
    font-size: 13px;
    font-weight: 400;
  }

  .btn6565header-24 button {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    min-width: 100px;
    padding: 8px 25px;
    border-radius: 3px;
    background: 0;
    margin: 5px;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .btn6565header-24 button i {
    margin: 0 2px;
  }
  
  .btn6565header-24 button.imp0H-2HTy {
    border: 1px solid transparent;
    color: #ffffff;
    background: rgb(0, 82, 204);
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    min-width: 100px;
    padding: 8px 20px;
    text-transform: capitalize;
  }
  
  .btn6565header-24 button.imp0H-2HTy:hover {
    background: #007bff;
  }
  
  .btn6565header-24 button.iMCancel-2mN5y {
    color: #686f7a;
    background-color: #fff;
    border: 1px solid #686f7a;
  }
  
  .btn6565header-24 .imp1Kh-1Km52 {
    color: #ffffff;
    font-size: 16px;
  }
  
  .btn6565header-24 .imp3LN-1Km {
    color: #dc3545;
    font-size: 16px;
  }